
/* =============================================================================
   Helpers
   ========================================================================== */

.no-margin { margin: 0 !important; }
.no-margin-bottom { margin-bottom: 0 !important; }
.no-margin-top { margin-top: 0 !important; }
.no-margin-left { margin-left: 0 !important; }
.no-margin-right { margin-right: 0 !important; }

input[type="submit"],
button,
.button {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  cursor: pointer;
  padding: 0.5em 0.75em;
  margin: 0.7em 0;
  font-size: @smallerFontSize;
  font-weight: @boldFont;
  background-color: @lightGrey;
  color: @dark;
  border: 0;
  .border-radius(@baseRadius);
  .transition();

  &.white {
    color: @white;
  }

  &.dark {
    color: @dark;
  }

  &.green {
    color: @green;
  }

  &.blue {
    color: @blue;
  }

  &.arrow {
    position: relative;
    padding-right: 25px;

    &:after {
      content: "";
      position: absolute;
      right: 0.625rem;
      top: 0.625rem;
      display: block;
      width: 0;
      height: 0;
      border-top: solid transparent;
      border-bottom: solid transparent;
      border-left: solid;
      border-right: none;
      border-width: 5px;
    }

    &.dark:after {
      border-left-color: @dark;
    }

    &.green:after {
      border-left-color: @green;
    }

    &.blue:after {
      border-left-color: @green;
    }
  }

  &.bordered {
    border-width: 1px;
    border-style: solid;

    &.white {
      border-color: @white;
      background-color: @white20;
    }

    &.green {
      border-color: @green;
    }

    &.blue {
      border-color: @blue;
    }
  }

  &.solid {
    border-width: 1px;
    border-style: solid;

    &.white {
      background-color: @white;
      color: @dark;

      &.arrow:after {
        border-left-color: @dark;
      }
    }

    &.gray,
    &.grey {
      background-color: @lightGrey;
      color: @dark;
      border-color: @lightGrey;

      &.arrow:after {
        border-left-color: @dark;
      }
    }

    &.green {
      background-color: @green;
      color: @white;
      border-color: lighten(@green,4%);

      &.arrow:after {
        border-left-color: @white;
      }
    }

    &.blue {
      background-color: @blue;
      color: @white;
      border-color: lighten(@blue,4%);

      &.arrow:after {
        border-left-color: @white;
      }
    }
  }

  &.large {
    padding: 0.75em 1.25em;
    font-size: @baseFontSize;

    &.bordered {
      border-width: 2px;
    }

    &.arrow {
      padding-right: 35px;

      &:after {
        top: 16px;
        right: 15px;
        border-width: 6px;
      }
    }
  }

  &:hover {
    text-decoration: none;

    &.bordered {
      &.white {
        background-color: @white;
        color: @dark;
      }

      &.green {
        background-color: @green;
        color: @white;
      }

      &.blue {
        background-color: @blue;
        color: @white;
      }
    }

    &.solid {
      &.white {
        background-color: darken(@white,7%);
      }

      &.gray,
      &.grey {
        background-color: darken(@lightGrey,7%);
      }

      &.green {
        background-color: darken(@green,7%);
      }

      &.blue {
        background-color: darken(@blue,7%);
      }
    }
  }
}

.box {
  position: relative;
  margin: 1em 0;
  padding: 0.5em 1.5em;
  font-size: 0.875em;
  background-color: @lightGrey;
  .border-radius(@baseRadius);

  &.nice-border {
    .vertical-gradient(@green, @blue);

    &:before {
      content: " ";
      display: block;
      position: absolute;
      top: 0.25rem;
      bottom: 0.25rem;
      left: 0.25rem;
      right: 0.25rem;
      background-color: @white;
      .border-radius(@baseRadius);
    }

    > * {
      position: relative;
      z-index: 500;
    }
  }

  &.blue {
    background-color: @blue;
    color: @white;

    h3 {
      color: @white;
    }
  }
}