
/* =============================================================================
   Helpers
   ========================================================================== */

.button {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  padding: 8px 12px;
  font-size: @smallFontSize;

  &.bordered {
    border-size: 2px;
    border-style: solid;

    &.white {
      border-color: @white;
      background-color: @white15;
      color: @white;
    }

    &.green {
      border-color: @green;
      color: @green;
    }

    &.blue {
      border-color: @blue;
      color: @blue;
    }
  }

  &.solid {
    &.white {
      background-color: @white;
      color: @dark;
    }

    &.green {
      background-color: @green;
      color: @white;
    }

    &.blue {
      background-color: @blue;
      color: @white;
    }
  }

  &.large {
    padding: 15px 20px;
    font-size: @baseFontSize;

    &.bordered {
      border-size: 3px;
    }
  }

  &:hover {
    text-decoration: none;
  }
}