
/* =============================================================================
   Theme
   ========================================================================== */

body {
  font-family: @baseFontFamily;
  font-size: 14px;
}

a {
  color: @blue;
}

nav a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

#header {
  #top {
    padding: 10px 0;
    background: @dark;
  }

  #head {
    padding: 10px 0;

    #logo {
      margin: 0;

      a {
        display: block;
        text-indent: -999em;
        width: 200px;
        height: 80px;
        background-image: url("../img/logo.png");
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

    #main-nav {
      padding: 20px 0;

      a {
        display: block;
        line-height: 40px;
        color: @dark;
      }

      ul.menu > li {
        display: block;
        float: left;
        margin-left: 30px;

        > a {
          font-size: 1.1em;
        }
      }
    }
  }
}