
/* =============================================================================
   Theme
   ========================================================================== */

body {
  font-family: @baseFontFamily;
  font-size: @baseFontSize;
  color: @dark;
}

a {
  color: @blue;
}

nav a {
  text-decoration: none;
  .transition();

  &:hover {
    text-decoration: none;
  }
}

#header {
  #top {
    padding: 10px 0;
    background: @dark;

    #top-nav {
      a {
        color: @white;
        font-size: @smallFontSize;
        .opacity(70);

        &:hover {
          .opacity(100);
        }
      }

      ul.menu {
        float: right;

        > li {
          display: block;
          float: left;
          margin-left: 20px;
        }
      }
    }
  }

  #head {
    padding: 10px 0;

    #logo {
      margin: 0;

      a {
        display: block;
        text-indent: -999em;
        width: 200px;
        height: 80px;
        background-image: url("../img/logo.png");
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

    #main-nav {
      padding: 20px 0;

      a {
        display: block;
        line-height: 40px;
        color: @dark;
      }

      ul.menu {
        float: right;

        > li {
          display: block;
          float: left;
          margin-left: 20px;

          > a {
            font-size: @largeFontSize;
          }
        }
      }
    }
  }
}

#hero {
  background-image: url("../img/hero_frontpage.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  #hero-overlay {
    background-image: url("../img/hero_overlay.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #hero-pad {
    padding: 50px 0;
  }

  .hero-box {
    padding: 50px;
  }
}