
/* =============================================================================
   Variables
   ========================================================================== */

// Base Colors
@white: #fff;
@black: #000;
@dark:  #21252b;
@blue:  #417abe;
@green: #0dc0c0;

// Transparent Colors

@white10: rgba(255,255,255,0.10);
@white20: rgba(255,255,255,0.20);
@white30: rgba(255,255,255,0.30);
@white40: rgba(255,255,255,0.40);
@white50: rgba(255,255,255,0.50);
@white60: rgba(255,255,255,0.60);
@white70: rgba(255,255,255,0.70);
@white80: rgba(255,255,255,0.80);
@white90: rgba(255,255,255,0.90);

@black10: rgba(0,0,0,0.10);
@black20: rgba(0,0,0,0.20);
@black30: rgba(0,0,0,0.30);
@black40: rgba(0,0,0,0.40);
@black50: rgba(0,0,0,0.50);
@black60: rgba(0,0,0,0.60);
@black70: rgba(0,0,0,0.70);
@black80: rgba(0,0,0,0.80);
@black90: rgba(0,0,0,0.90);

// Special Colors
@lightGrey:   #f4f6f6;
@borderColor: #e6eaea;

// Font Families
@baseFontFamily: 'Open Sans', Helvetica, Arial, sans-serif;

// Font Sizes
@baseFontSize:    1em;
@smallFontSize:   0.875em;
@smallerFontSize: 0.8125em;
@largeFontSize:   1.125em;
@largerFontSize:  1.25em;
@xlargeFontSize:  1.5em;

// Font Weights
@lightFont:     300;
@normalFont:    400;
@semiBoldFont:  600;
@boldFont:      700;
@extraBoldFont: 800;

// Misc.
@baseLineHeight: 1.6;
@baseRadius: 3px;