
/* =============================================================================
   Variables
   ========================================================================== */

// Colors
@white:   #fff;
@white15: rgba(255,255,255,0.15);
@black:   #000;
@dark:    #21252b;
@blue:    #417abe;
@green:   #16eed6;

// Font Families
@baseFontFamily: 'Open Sans', Helvetica, Arial, sans-serif;

// Font Sizes
@baseFontSize:    13px;
@smallFontSize:   0.9em;
@smallerFontSize: 0.8em;
@largeFontSize:   1.1em;
@largerFontSize:  1.2em;

// Misc.
@baseRadius: 3px;